@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
body {
    font-family: 'Noto Sans JP', sans-serif;
}

h1,h2,h3 {
     font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

h2 {
    border-bottom: 1px solid #585959;
}

ul li, ol li {
    padding: 1em 0;
}

ol.answers {
    list-style: upper-alpha;
}

#correct-answer {
    font-weight: bold;
    color: #f05959;
}

#main {
    padding: 0 1.5em;
}

div.section {
    margin-top: 2em;
}